<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLRaindropCreator</key>
	<string>John Michel</string>
	<key>CLRaindropDescription</key>
	<string>Shortens the front window&apos;s URL.</string>
	<key>CLRaindropName</key>
	<string>Chrome Canary</string>
	<key>CLRaindropTargetBundleID</key>
	<string>com.google.Chrome.canary</string>
	<key>CLRaindropURL</key>
	<string>http://cowbird.org/</string>
</dict>
</plist>
